<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8" />
   <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
   <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
   <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
   <link rel="stylesheet" href="../styles/app.css">
   <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
   <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
   <title>Desk Habitum</title>
</head>

<body>
   <header class="p-3 border-bottom">
      <div class="container">
         <div class="row align-items-center">
            <div class="col">
               <div class="row align-items-center">
                  <div class="col-2">
                     <a href="#" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                        <img src="../img/circularLogo.png" alt="mdo" width="50" height="50" class="rounded-circle">
                     </a>
                  </div>
                  <div class="col">
                     <ul class="nav">
                        <li><a href="./home.html" class="nav-link px-2 text-secondary">Volver a Home</a></li>
                     </ul>
                  </div>
               </div>
            </div>

            <div class="col">
               <ul class="nav col-lg-auto me-lg-auto mb-2 mb-md-0 align-items-center justify-content-center">
                  <li><a class="nav-link px-1 link-secondary">Reconocimiento: <span
                           id="statusMonitoring">Desactivado</span></a></li>
               </ul>
            </div>

            <div class="col">
               <div class="dropdown text-end">
                  <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                     data-bs-toggle="dropdown" aria-expanded="false">
                     <span class="m-1" id="username"></span>
                     <img src="../img/profile.jpeg" alt="mdo" width="32" height="32" class="rounded-circle">
                  </a>
                  <ul class="dropdown-menu text-small dropdown-menu-end">
                     <li><a class="dropdown-item" href="./perfil.html">Perfil</a></li>
                     <li><a class="dropdown-item" href="./configuraciones.html">Configuraciones</a></li>
                     <li>
                        <hr class="dropdown-divider">
                     </li>
                     <li id="logoutBtn"><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </header>
   <div class="p-2">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
         <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
               role="tab" aria-controls="home" aria-selected="true">Resumen Última Sesión</button>
         </li>
         <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
               role="tab" aria-controls="profile" aria-selected="false">Histórico Manías</button>
         </li>
         <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
               role="tab" aria-controls="contact" aria-selected="false">Histórico Malos Hábitos</button>
         </li>
      </ul>
      <div class="tab-content" id="myTabContent">
         <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="container pt-4">
               TAB 1
            </div>
         </div>
         <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="container pt-4">
               TAB 2
            </div>
         </div>
         <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="container pt-4">
               TAB 3
            </div>
         </div>
      </div>
   </div>
</body>
<script src="../renders/dashboard.js"></script>

</html>