<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8" />
   <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
   <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
   <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
   <link rel="stylesheet" href="../styles/app.css">
   <title>Desk Habitum</title>
</head>

<body>
   <h1>Home Desk Habitum</h1>
   <p>👋</p>
   <p id="info-home"></p>
</body>
<script src="../renders/home.js"></script>
</html>